i{font-size: 30px; color: rgb(3, 74, 3);}


/*seccion hero*/
.hero{background-image: url(img/svg-images-wordpress.png);
    background-size:cover;
    background-position: center;
    height: 15cm;
    }
    
